.Announcement {
  border-radius: 5px;
  border: 1px solid #76969f;
  width: 80%;
  margin: 0 auto 20px;
}
.Announcement .heading{
  background-color: #76969f;
  color: #fff;
  padding: 10px 15px;
  margin: 0;
  font-size: 20px;
  line-height: 15px;
}
.Announcement .inner{  
  padding: 0 15px;
  margin: 0;
}

.metadata {
  font-size: 10px;
  color: #888;
  margin-right: 15px;
}