#TopNav {
  height: 100%;
  display: flex;
  position: relative;
}

#TopNav .burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: stretch;
}

#TopNav .burger-menu div {
  cursor: pointer;
  width: 11px;
}

#TopNav .burger-menu div {
  width: 16px;
  height: 1px;
  background-color: #fff;
  margin: 1.6px 20px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border: 1.5px solid #fff;
}

#TopNav .burger-menu div:nth-child(2) {
  cursor: pointer;
  width: 16px;
}


#TopNav .burger-menu div:nth-child(3) {
  cursor: pointer;
  width: 16px;
}

#TopNav .navigation {
  position: absolute;
  left: 20px;
  top: 35px;
  transition: all 0.5s;
  width: 250px;
  background-color: #fff;
  
  border:1px solid #888;
}
#TopNav .navigation.open {
  width: 250px;
}
#TopNav .navigation.close {
  width: 0;
  border:none;
  transition: all 0.5s;
}

#TopNav .navigation.close ul {
  width: 0;  
  display: none;
}
#TopNav .navigation ul li {
  border-bottom: solid 1px #ccc;
  color: #888;
}
#TopNav .navigation.close ul li {
  cursor: pointer;
  border-bottom: solid 1px #ccc;
}
#TopNav .navigation ul li:last-of-type {
  cursor: pointer;
  border-bottom: none;
}

#TopNav .navigation ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

#TopNav .navigation ul a {
  list-style: none;
  color: #888;
  text-decoration: none;
}