#Header {
  height:50px;
  width: 100vw;
  background-color: #5ba5b9;
  text-align: center;
  color: #fff;
  line-height: 43px;  
}

#Header h1 {
  margin:0;
  padding: 0;
}

#Header .top-container {
  position: absolute;
  left: 20px;
  top: 0;
  width: 50px;
  height: 50px;
}