#Loading{
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: .6;
  display: flex;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}