#Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; 
  flex-direction: column;
}

#Login .form-wrapper {
  width: 25%;
  height: 25%;

  background-color: #5ba5b9;
  border: 1px solid #888;
  padding: 50px;
  padding-bottom: 0;
  min-height: 248px;
  color: #fff;
  border-radius: 5px;
}

#Login form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
#Login input{
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #fff;
  width: auto;
  border: solid 1px #888;
  margin: 10px 0;
}

#Login button{
  border-radius: 5px;
  padding: 10px 15px;
  width: 50%;
  border: solid 1px #888;
  margin: 0 auto;
  cursor: pointer;
}

#Login .error {
  text-align: center;
  color:red;
}