#AnnouncementForm {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh; 
  flex-direction: column;
}

#AnnouncementForm form {
  display: flex;
  flex-direction: column;
}

#AnnouncementForm input{
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #fff;
  width: auto;
  border: solid 1px #888;
  margin: 10px 0;
}

#AnnouncementForm textarea {
  width: 704px;
}

#AnnouncementForm .error {
   color: red;
   font-size: 12px;
  margin-bottom: 15px;
}