
#List{
  margin:0 auto;
  width: auto;
  padding: 10px 20px;
}
#ListTable {

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#ListTable td, #ListTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#LisTaListTableble tr:nth-child(even){background-color: #f2f2f2;}

#ListTable tr:hover {background-color: #ddd;}

#ListTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5ba5b9;
  color: white;
}
#ListTable .loader{
  width: 100%;
  background-color: #86bfce;
  text-align: center;

}

#List .link-btn {
  display: block;
  background-color: #ccc;
  width: 15%;
  min-width: 80px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}

#List .modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#List .confirm {
  min-width: 200px;
  min-height: 200px;
  border-radius: 5px;
  border: solid 1px #888;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: white;
  z-index: 1000;
  margin: 0 auto;
}