body, html {
  margin:0;
  padding:0;
}
.btn{
  border-radius: 5px;
  padding: 10px 15px;
  border:1px solid #ccc;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.mb-20 {
  margin-bottom: 20px;
}
